.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.degree-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.degree-card {
  width: 300px;
  margin: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.degree-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.degree-form input[type="text"],
.degree-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.degree-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.degree-form input[type="submit"]:hover {
  background-color: #3e8e41;
}
