.create-student-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  
  .create-student-form label {
    display: block;
    margin-bottom: 10px;
    color: #3f51b5;
  }
  
  .create-student-form input[type="text"],
  .create-student-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
    color: #3f51b5;
  }
  
  .create-student-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
  }
  
  .create-student-form button[type="submit"]:hover {
    background-color: #2c3e50;
  }
  
  .create-student-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
    color: #3f51b5;
  }
  
  .alert-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
  }
  
  .alert-wrapper {
    width: 400px;
    margin-left: -1.5%;
  }
  